@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
}

.container {
    height: 100vh;
    width: 100%;
    /* overflow: auto; */
    /* overflow-x: hidden; */

}

.box-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    /* border: solid red 3px; */
}

.kpis {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-height: 200px;
    margin: 10px auto;
}

.kpi {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-right: 20px;
    border-radius: 1vh;
    box-shadow: 0 0 0.9vh rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
}

.kpi-content {
    width: 80%;
    height: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between !important;
    /*border: 1px solid blue;*/
}
.kpi-content-alert {
    width: 80%;
    height: 90%;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between !important;
    /*border: 1px solid blue;*/
}
.kpi-content-alert h1 {
    color: black;
}

.kpi-content span {
    color: white;
}

.kpi-chart {
    height: 98px;
}

.kpi-chart-net {
    height: 84px;
}

.text-kpi {
    /* border: solid red 3px; */
    font-size: 1.3vw;
    font-weight: bold;
    color: #56408C;
}
.text-kpi-alert {
    /* border: solid red 3px; */
    font-size: 1.3vw;
    font-weight: bold;
}
.text-kpi-alert h1 {
    color: black;
}

.kpi h1 {
    font-size: 2.5vw;
    font-weight: bolder;
    /* border: solid red; */
}

.kpi h2 {
    font-size: 1.3vw;
    font-weight: 600;
    color: white;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#grafico-kpi-01,
#grafico-kpi-02 {
    margin: 0;
    /* border: solid red 3px; */
}

.graficos {
    height: 50vh;
    display: flex;
    gap: 1rem;
    margin-left: 20px;
    margin-top: 2rem;
}

.processos {
    width: 30%;
    height: 70vh;
    box-shadow: 0 0 0.9vh rgba(0, 0, 0, 0.2);
    /* overflow-y: auto; */
    overflow-y: scroll;
    /* overflow-x: hidden; */
}
.nome-processo{
    max-width: 100px; 
    white-space: normal;
    word-break: break-word;
}

/* Indicador de Criticidade dos Processos */
.criticidade {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #4CAF50;
    margin: 0 auto;
}

.criticidade.danger {
    background-color: #c30a03;
    border-radius: 100px;
}

.criticidade.warning {
    background-color: #ffa507;
    border-radius: 30px;
}

/* Indicador de Criticidade da KPI */
.Crítico {
    background-color: #c30a03;
    color: #fff;
}

.Atenção {
    background-color: #ffa507;
    color: #fff;
}
.Normal {
    background-color: green;
}
.container-graficos-linhas {
    display: flex;
}

.graficos-linhas {
    /* height: 10vh; */
    width: 70%;
}

.grafico-barra {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 97%;
    height: 31vh;
    box-shadow: 0 0 0.9vh rgba(0, 0, 0, 0.2);
}

.first-line-graphs,
.second-line-graphs,
.third-line-graphs {
    display: flex;
    width: 100%;
    /* height: 30vh; */
    /* border: solid green 3px; */
    justify-content: space-around;
}

.chart-use-cpu,
.graphs-ram{
    width: calc(95% / 2);
    height: 50%;
    border-radius: 1vh;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 0.9vh rgba(0, 0, 0, 0.2);
}

thead th,
tbody td {
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    height: 50px;
    padding: 1.5px;
    color: rgba(58, 46, 93, 1);
}

thead th {
    background-color: #f9f9f9;
    vertical-align: middle;
    font-weight: bold;

}

.storage-chart-container {
    height: 250px;
    overflow-y: scroll;
}

.disk {
    display: flex;
    flex-direction: column;
    width: 90%;

    padding: 3vh;
}

.flex-percent {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.disk-chart-background {
    width: 100%;
    height: 40px;
    background-color: #dad9d9;
    border-radius: 55px;
}

.disk-chart-bar {
    border-radius: 55px;
    height: 100%;
    width: 36%;
    background-color: #765D8C;
}

.disk-chart-bar1 {
    border-radius: 55px;
    height: 100%;
    width: 12%;
    background-color: #765D8C;
}

.disk-chart-bar2 {
    border-radius: 55px;
    height: 100%;
    width: 67%;
    background-color: #765D8C;
}

.disk-chart-bar3 {
    border-radius: 55px;
    height: 100%;
    width: 90%;
    background-color: #9D4041;
}

.use-percent {
    font-weight: bold;
    font-size: 1.4rem;
}

.graphs-monitoring-storage span {
    font-size: 2vh;
    color: #3A2E5D;
    font-weight: 500;
}

.graphs-monitoring-storage .text-kpi,
.graphs-monitoring-ram .text-kpi {
    font-size: 1.8rem;
    font-weight: bold;

    text-indent: 20px;
}

.ram-chart-container {
    display: flex;
    height: 80%;
    width: 95%;
    margin: 0 auto;
}

.kpi-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.ram-kpi p {
    font-size: 1.2rem;
}

.line-chart-title {
    font-size: 1.4vw;
    text-indent: 1vw;
}
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 1vh;
    width: 1vh;
}

*::-webkit-scrollbar-track {
    border-radius: 1vh;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 1vh;
    background-color: #6c5ce7;
    transition: 1s ease-in-out;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #4c3fb1;
}

h1 {
    font-size: 5vh;
    font-weight: 500;
    color: white;
}

header h1 {
    margin-left: 2vh;
}

@media (max-width: 800px) {
    header h1 {
        padding-top: 2vh;
        padding-bottom: 5vh;
        font-size: 1.5rem;
        margin-left: 2vh;
    }

    .container {
        height: 100%;
    }

    .kpis {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        /* gap: 20px; */
    }
    .kpi {
        width: 90%;
        height: 100vh;
        margin-bottom: 20px;
        }

   .graficos {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        height: 100%;
    }
    
    .processos{
        width: 90%;
        height: 400px;
        /* overflow-y: auto; */
    }

    .graficos-linhas {
        width: 90%;
    }

    .container-graficos-linhas {
        flex-direction: column;
        gap: 1rem;
    }
    #grafico-cpu-pctg{
        width: 100% !important;
    }

    .chart-use-cpu, 
    .graphs-ram, 
    .grafico-barra {
        width: 100%;
        height: auto;
    }
}

.grafico-alerta {
    width: 100% !important;
}

.chart-grafico {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}