body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    background: #F9FAFB;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.container-kpi{ 
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.kpi-1, .kpi-2, .kpi-3, .kpi-4, .kpi-5 {
    width: 17vw;
    border: rgba(45, 46, 93, 0.3) solid 1px;
    box-shadow: 0 0 10px rgba(0, 30, 120, 0.5);
    color: #fff;
    border-radius: 10px;
    padding-left: 10px;
    height: 10vw;
    text-align: center;
}

.kpi-1 {
    background-color: firebrick;
}

.kpi-2{
    background-color: orange;
}

.kpi-3{
    background-color: gold;
}

.kpi-4{
    border: rgba(58, 46, 93, 0.3) solid 1px;
    color: black;
}

.kpi-5{
    border: rgba(58, 46, 93, 0.3) solid 1px;
    color: black;
}

.kpi-1 span, .kpi-2 span, .kpi-3 span, .kpi-4 span, .kpi-5 span {
    font-size: 50px;
    font-weight: bold;
    align-content: center;
}

.card {
    padding: 10px;
    width: 46vw;
    box-shadow: 0 0 10px rgba(0, 30, 120, 0.5);
    border: rgba(58, 46, 93, 0.3) solid 1px;
    border-radius: 10px;
    margin: 6px 0;
}

 .linha1, .linha2, .linha3, .linha4 { 
    width: 1000px;
    height: auto;
    display: flex;
    padding: 5px;
}

.coluna_esquerda {
    width: 800vw;
    height: 20px;
    display: flex;
}

.coluna_direita{
    width: 800vw;
    height: 20px;
    display: flex;
}

/* .sorts {
    display: flex;
    width: 90%;
    padding: 5px;
    align-self: center;
    justify-content: space-between;
}  

.left {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.sortBtn {
    display: flex;
    background: #FFF;
    border-radius: 6px;
    padding: 0.5rem 2rem;
    border: rgba(58, 46, 93, 0.3) solid 1px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    color: #56408C;
    transition: linear 0.3s;
    font-size: 1.3rem;
    cursor: pointer;
    align-items: center;
    opacity: 0.8;
}

.sortBtn:hover {
    opacity: 1;
    transform: scale(1.03);
}

.sortBtn img {
    margin-right: 1rem;
} */

.espaco {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
}

.container1 {
    display: flex;
    padding: 10px;
    width: fit-content;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid #13497f;
}

.container2 {
    display: flex;
    padding: 10px;
    width: fit-content;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border: solid green;
}

alert-card {
    flex-basis: calc((100% / 3) - 20px);
    margin-bottom: 20px;
    transition: linear 0.3s;
    border: solid;
}

alert-card:hover {
    transform: scale(1.03);
}

@media (max-width: 1775px) {
    alert-card {
        flex-basis: calc((100% / 2) - 20px);
    }
}

@media (max-width: 1050px) {
    .container {
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    alert-card {
        flex-basis: calc(100% - 20px);
    }

    .sorts {
        flex-direction: column;
        width: 90%;
    }

    .left {
        flex-direction: column;
        width: 100%;

    }

    .sortBtn {
        margin-bottom: 1rem;
        font-size: 1rem;
    }
}
